$homeBgColor = rgb(241,241,241)
$navBgColor = #f7f7f7
$detailBgColor = rgb(221,244,223)

$labelDiagnosedColor = #f1a325
$labelDeathColor = #ea644a
$labelSuspectedColor = #03bbcf
$labelCureColor = #38b03f

$CitySearchColor = rgb(235, 242, 249)